block body
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      title Colors and types
      link(rel="stylesheet", href=require("colors-and-types.sass"))
    body 
      - const data = require('./data.json')

      mixin colorsRepresentator(colorsDataList)
        ul.colors
          each item in colorsDataList
            li.color-info
              div(class= `colors__example colors__example_${item.colorVariableName}`)
              .colors__description
                h2.colors__name= item.title
                p.colors__hex= item.hex
      header
        .logo
      .content
        +colorsRepresentator(data.colors)

        ul.types
          li.types__item
            h1.types__name H1
            h1.types__description This one is the sub-section or widget title
          li.types__item
            h2.types__name H2
            h2.types__description Next one is the item title inside widgets
          li.types__item
            h3.types__name H3
            h3.types__description This is a label or CTA text
          li.types__item.types__item_last
            p.types__name Body
            p.types__description This is the body text which is used for most of the design, like paragraphs, lists, etc.
