@use '../../main-styles/variables'
@use '../../main-styles/styles-normalizing'
@use '../../main-styles/types'
@use '../../components/header/header'

.container
  box-sizing: content-box
  margin: 0 auto
  max-width: 1920px
  min-width: 320px

.content
  display: flex
  justify-content: space-between
  box-sizing: content-box
  padding-top: 68px
  padding-left: 149.74px
  padding-right: 158px
  max-width: 1140px
  
.colors
  font-size: 19px
  color: variables.$dark-shade-100

  .color-info
    display: flex
    flex-wrap: wrap
    align-items: center
    padding-bottom: 20px

    &_last
      padding-bottom: 0

  &__example
    width: 70px
    height: 70px
    border-radius: 6px

    @each $name, $colorVariable in variables.$colorsMap
      &_#{$name}
        background: $colorVariable

  &__description
    padding-left: 40px

  &__name
    font-weight: 700

  &__hex
    font-weight: 400

.types
  margin-left: auto
  width: 436px

  &__item 
    display: flex
    padding-bottom: 51px

    &_last
      padding-bottom: 0

  &__name
    font-weight: 400
    color: variables.$dark-shade-25
    min-width: 37px
    text-align: right

  &__description
    text-align: left
    padding-left: 30px
