doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href=require("index.sass"))
    title index
  body 
    .index-scaffold
      .card
          ul.pages-list
            li.pages-list__item 
              a(href="colors_and_types.html") Colors and types
            li.pages-list__item 
              a(href="form_elements.html") Form elements